@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
	/* BREAKPOINTS */
	--breakpoint-*: initial;
	--breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1536px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-assistant);
  --font-mono: var(--font-assistant);

	--color-primary: #1D4ED8;
	--color-text: #111827;
	--color-blue: #dbeafe;

	--color-black: #000000;
	--color-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-assistant), Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: var(--color-text);
}

@utility container{
	width: 100%;
	padding-left: 24px;
	padding-right: 24px;
	max-width: none;

	margin-left: auto;
	margin-right: auto;

	@media ( min-width: 1280px ) {
		width: 1196px;
		padding-left: 0;
		padding-right: 0;
	}
}